.container {
	text-align: center;
}

body {
	background-color: #303d56;
}

.board-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: aliceblue;
}

.cell {
	width: 60px;
	height: 60px;
	font-size: 25px;
	font-style: bold;
	color: rgb(7, 0, 0);
	text-align: center;
	padding: 0;
	border: 2px solid black;
}

table {
	border-collapse: collapse;
	/* border-spacing: 2px; */
	border: 5px solid black;
}
